<!DOCTYPE html>
<html lang="gl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="author" content="DAG - Asociación Galega de Deseño">
</head>
<body>
  <!-- HEADER -->
  <nav class="page-header wrapper" id="main-header">
      <a href="https://dag.gal" class="page-logo" title="Asociación Galega de Deseño">
          <img src="/img/dag.svg" inline>
      </a>

      <ul class="menu">
        <li><a href="#relatoras">Relatoras</a></li>
        <li><a href="#programa">Programa</a></li>
        <li><a href="#entradas">Entradas</a></li>
      </ul>

      <div class="share">
        <a href="https://twitter.com/asociaciondag">
          <img src="/img/x.svg" inline>
        </a>
        <a href="https://www.instagram.com/asociaciondag/">
          <img src="/img/instagram.svg" inline>
        </a>
      </div>
  </nav>
  <!-- /HEADER -->

  <header class="header">
    <div class="logo-feed">
      <picture>
        <source srcset="/img/feed/rectangular.svg" media="(max-width: 599px)">
        <img src="/img/feed/cadrado.svg">
      </picture>
    </div>

    <div class="header-content">
      <h1>{{ header.title }}</h1>
      {{ header.subtitle |> md }}
    </div>
  </header>

  <section class="about">
    <h2>{{ about.title }}</h2>
    <div>
    {{ about.content |> md }}
    </div>
  </section>

  <section class="timetable" id="programa">
    <h2>{{ timetable.title }}</h2>

    {{ for day of timetable.days }}
    <div>
      <h3>{{ day.title }}</h3>
      <dl>
        {{ for event of day.events }}
          <dt>{{ event.time }}</dt>
          <dd>{{ event.text |> md }}</dt>
        {{ /for }} 
      </dl>
    </div>
    {{ /for }}
  </section>

  <section class="tickets" id="entradas">
    <div>
      <a href="{{ tickets.cta.url }}" class="button">{{ tickets.cta.text }}</a>
      {{ tickets.text |> md }}
    </div>
  </section>

  <section class="speakers" id="relatoras">
    <h2>{{ speakers.title }}</h2>

    <ul class="speakers-people">
    {{ for speaker of speakers.people }}
      <li>
        <article>
          <img src="{{ speaker.img }}" alt="Retrato">

          <div class="speakers-person">
            <h3>
              {{ speaker.title |> md(true) }}
              {{ if speaker.bio }}
              &nbsp;&nbsp;
              <button class="speakers-bio-link" onclick="this.parentElement.nextElementSibling.showModal()">
                Ler biografía
              </button>
              {{ /if }}
            </h3>

            {{ if speaker.bio }}
            <dialog class="speakers-dialog">
              <button class="speakers-dialog-close" onclick="this.parentElement.close()">Close</button>

              <div class="speakers-bio">
                {{ speaker.bio |> md }}
              </div>

              <ul class="speakers-links">
              {{ for link of speaker.links }}
                <li><a href="{{ link.url }}" target="_blank">{{ link.type }}</a></li>
              {{ /for }}
              </ul>
            </dialog>
            {{ /if }}

            {{ for event of speaker.items }}
            <section class="speakers-event">
              <h4>{{ event.title |> md(true) }}</h4>
              <footer>
                {{ event.footer |> md }}
              </footer>

              {{ event.description |> md }}

            </section>
            {{ /for }}
          </div>
        </article>
      </li>
    {{ /for }}
    </ul>
  </section>

  <section class="location">
    <div>
      <h2>{{ location.title }}</h2>
      <div>
        <h3>{{ location.conferences.title }}</h3>
        <address>
          {{ location.conferences.address |> md }}
        </address>

        <a href="{{ location.conferences.map }}" class="location-map">{{ "Ver mapa >" |> escape}}</a>
      </div>
      <div>
        <h3>{{ location.workshops.title }}</h3>
        <address>
          {{ location.workshops.address |> md }}
        </address>

        <a href="{{ location.conferences.map }}" target="_blank" class="location-map">{{ "Ver mapa >" |> escape}}</a>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div>
    {{ for group of logos }}
      <div class="{{ group.title }}">
      <strong>{{ group.title }}</strong>
      <ul>
        {{ for logo of group.items }}
        <li>
          <a href="{{ logo.url }}" title="{{ logo.alt }}">
            <img src="{{ logo.img }}" alt="{{ logo.alt }}">
          </a>
        </li>
        {{ /for }}
      </ul>
      </div>
    {{ /for }}
    </div>
  </footer>
</body>
</html>